# Python
__pycache__/
*.pyc
.venv/
venv/

# Base de datos local
data/*.db

# React
frontend-moderno/node_modules/
frontend-moderno/dist/

# PyInstaller
build/
dist/

# Sistema
.DS_Store
Thumbs.db

# Bases de datos locales
data/*.db
frontend-moderno/data/*.db

# React
frontend-moderno/node_modules/
frontend-moderno/dist/

# PyInstaller
build/
dist/

# Respaldos automáticos
respaldos_codigo/
respaldos/